@import url(https://fonts.googleapis.com/css?family=Droid+Serif|Yanone+Kaffeesatz|Fira+Code);

body {
  font-family: 'Ubuntu', sans-serif;
}
h1, h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
}
p {
  font-family: 'Fira Code', monospace;
}